<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1102 Online Code Editor</title>
</head>
<body>
    <h1>Welcome, this is a leetcode clone made fully in Golang</h1>
    <p>This project aims to show my skills in Golang</p>  
    <p>
        I provide a sign in and a login but you can use it with this account: <br>
        Email: test@test.com <br>
        Password: test
    </p>
    
    <div>
        <a href="/login">
            <button>Start Coding</button>
        </a>
        <a href="/docs">
            <button>View Docs</button>
        </a>
    </div>

    <div>
        <div>
            <h2>Multiple Languages</h2>
            <p>Support for all major programming languages</p>
        </div>
        <div>
            <h2>Real-time Preview</h2>
            <p>See your changes instantly</p>
        </div>
        <div>
            <h2>Cloud Saving</h2>
            <p>Your code, anywhere, anytime</p>
        </div>
    </div>
</body>
</html>