<!DOCTYPE html>
<html lang="en">

<head>
    {{template "style"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1102 Online Code Editor</title>
<body>
    {{template "header"}}
    <main>
        <sl-card>
            <img slot="image" src="/public/test.gif" alt="Descriptive Alt Text">
            <h1 slot="header">Start Coding with LeetCode Clone</h1>
            <p>Enhance your skills with our challenges and become a coding master.</p>
            <sl-button type="primary" href="/problems">Explore Problems</sl-button>
        </sl-card>
    </main>
    <script type="module" src="/static/index.js"></script>
    {{template "footer"}}
</body>


</html>