{{define "style"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.0/cdn/themes/light.css" />
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.0/cdn/shoelace.js"></script>
<style>
        body, html {
            height: 100%; /* Makes sure that the body takes up the full height */
            margin: 0; /* Removes default margin provided by the browser */
            display: flex;
            flex-direction: column; /* Stacks the header, main, and footer vertically */
        }

        header {
            background-color: #f8f9fa;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 2rem;
        }

        main {
            flex-grow: 1; /* Allows the main content to expand and fill available space */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto; /* Enables scrolling within the main area if content exceeds its space */
        }

        footer {
            background-color: #fff;
            padding: 1rem 0;
            box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
            text-align: center;
        }
</style>

{{end}}