// function that is a copy of the code sent by the user (only one input and one output)
const tests = {{ .Tests }}

for (let i = 0; i < tests.length; i++) {
    const test = tests[i]
    const result = {{ .Code }}(test.input)
    if (result !== test.output) {
        console.log("Test failed on input \'", test.input, "\' expected \'", test.output, "\' got \'", result, "\'")
        break
    }
}
console.log("All tests passed")